* {
	font-family: 'Montserrat', sans-serif;
}
/* strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 } */
a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }
.banner h1 {
	margin: 50px 0;
}
.banner.list {
	height: 150px;
	background: url("/static/bluebk.png");
}
.banner.main {
	height: 150px;
	background: url("/static/bluebk.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	margin-bottom: 10%;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: rgb(16, 101, 197);
	border-width: 2px;
	color: rgb(0, 0, 0);;
}
.btn:hover {
	border-color: rgb(16, 101, 197);
}
.flash {
	width:100%;
	text-decoration: none;
}
.flash li {
	list-style-type: none;
	text-align: center;
}
h1 {
	font-size: 50px;
	color:white;
	line-height: 60px;
	font-weight: 300;
	align-content: center
}
h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}
h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
.margin-right {
	margin-right: 30px;
}
p {
	font-size: 16px;
	color: #7B7573;
	line-height: 24px;
	font-weight: 400;
}
.place-list {
	background-color: #F0F0F0;
   padding: 15px;
   border-radius: 10%;
   margin-bottom: 5px; 
}
.padding-bottom {
	padding-bottom: 30px;
}
.padding-none {
	padding: 0;
}
.padding-top {
	padding-top: 30px;
}
.place-list:hover {
	background-color: #a0a09e;
	padding: 30px;
}
.thing {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.top-list {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-list a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.top-list p {
	margin-bottom: 0;
	line-height: 16px;
}