{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner list">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Thing</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="30" class="form-control" name="name" value="{{thing.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="100" rows="3" name="description">{{item.description}}</textarea>

					<label for="category">Category:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category1" value="Junk" {% if item.category == 'Junk'%}checked{%endif%}>Junk
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category2" value="Heirloom" {% if item.category == 'Heirloom' %}checked{%endif%}>Heirloom
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category3" value="Other" {% if item.category == 'Other'%}checked{%endif%}>Other
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category4" value="Tool" {%if item.category =='Tool'%}checked{%endif%}>Tool
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					Save
					</button>
					<a href = '{{url_for('showPlaces')}}'>
						<button class="btn btn-default" type="button">
						Cancel
					</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
