{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner list">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{place.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editPlace',place_id = place.id)}}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" value="{{place.name }}">
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					Save
					</button>
					<a href = '{{url_for('showPlaces')}}'>
						<button class="btn btn-default">
						Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}