<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="768273117881-15g9t6888n45cfni5jcq49g2b52bll9d.apps.googleusercontent.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '768273117881-15g9t6888n45cfni5jcq49g2b52bll9d.apps.googleusercontent.com'
        });
      });
    }
  </script>

</head>


<body>

  <button id="signinButton">Sign in with Google</button>

<div id="result"></div>

<script>
$('#signinButton').click(function() {
        function signInCallback(authResult){
          if (authResult['code']){
            $('.square').attr('style', 'display: none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              headers: {
              'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success:function(result){
                $('#result').html('Login Successful!</br>'+ result + '</br></br></br>Redirecting...')
                      setTimeout(function() {
                      window.location.href = "/";
                      }, 4000);
              },
              processData:false,
              data:authResult['code']
            });
          } else{
            // handle error
            console.log('There was an error: ' + authResult['error']);
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      });
</script>



</body>

</html>
